.containerGeral {
    overflow-x: hidden;
}

/* 1º Seção Home */

.containerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 85vh;
    background: rgb(245, 125, 0);
    background: linear-gradient(90deg, rgba(245, 125, 0, 1) 76%, rgba(254, 194, 1, 1) 100%);
}

.containerHome__backgroundHome {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;

}

.containerHome__cabecalhoHome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    z-index: 10;
}

.cabecalhoHome__logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 48px;
}

.logoHome {
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.iconeMenuHome {
    position: absolute;
    left: 92%;
    top: 30%;
    z-index: 10;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    cursor: pointer;
    background-color: #282829;
    border: #F58200 1px solid;
}

.iconeMenu {
    width: 70%;
    height: 70%;
}

.fundoColoridoHome {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 90%;
    background: rgb(25, 25, 25);
    background: linear-gradient(90deg, rgba(25, 25, 25, 1) 0%, rgba(47, 47, 50, 1) 100%);
}

/* 2ª Seção Informações */

.containerInformacoes {
    height: 200vh;
    width: 100vw;
}

/* 3º Seção Catalogo */

.containerCatalogo {
    height: 100vh;
    width: 100vw;
}

/* 4º Seção Contatos */

.containerContatos {
    height: 50vh;
    width: 100vw;
}


/* Botao com contraste */

.botaoContatoHome {
    border-radius: 10px;
    border: 2px solid #F57D00;
    background: rgba(217, 217, 217, 0.00);
    padding: 8px;
    cursor: pointer;
    transition: all 200ms;
}

.botaoContatoHome:hover {
    background: linear-gradient(90deg, #F58000 0%, #FEC201 100%);
    box-shadow: 0px 0px 4px 2px rgba(245, 130, 0, 0.45);
}

.botaoContatoHome:hover .textoBotaoContatoHome {
    background: var(--white-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/**/

/**/

.barraNavegacaoMenu {
    position: absolute;
    z-index: 5;
    background: rgba(34, 34, 35, 0.80);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 25vw;
    top: 0;
    left: 75%;
    display: flex;
    flex-direction: column;
    padding: 48px;
    transition: margin 1000ms;
    margin: 0 0 0 500px;
}

.barraNavegacaoMenuAberta {
    position: absolute;
    z-index: 5;
    background: rgba(34, 34, 35, 0.80);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 25vw;
    top: 0;
    left: 75%;
    display: flex;
    flex-direction: column;
    padding: 48px;
    transition: all 1000ms;
    margin-left: 0;
}

/**/

.barraNavegacaoMenu__opcaoFecharAbrir {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.textoGrifadoMenu {
    background: linear-gradient(90deg, #F90 29.07%, #FEC201 54.07%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.barraNavegacaoMenu__opcoesDeNavegacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    gap: 32px;
    padding-top: 80px;
}

.iconeFecharbarrar {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 20px;
    background: rgb(245, 125, 0);
    background: linear-gradient(90deg, rgba(245, 125, 0, 1) 0%, rgba(254, 194, 1, 1) 100%);
}

.opcaoHome {
    color: var(--font-dark-three);
    font-size: 1.50rem;
    font-weight: 500;
    letter-spacing: 1.6px;
    cursor: pointer;
    transition: linear 200ms;
}

.opcaoHome:hover {
    border-bottom: var(--white-color) 2px solid;
}

.linhaUm {
    width: 99vw;
    position: absolute;
    z-index: 2;
    left: -5px;
    top: 80%;
}