.containerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.containerHome__backgroundHome {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;

}

.containerHome__cabecalhoHome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;
    background-color: var(--background-header-dark-color);
}

.bordaGradienteHome {
    position: fixed;
    width: 100vw;
    height: 2px;
    background: rgb(245, 125, 0);
    background: linear-gradient(90deg, rgba(245, 125, 0, 1) 0%, rgba(254, 194, 1, 1) 100%);
    top: 150px;
}

.logoHome {
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.iconeMenuHome {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    background: rgb(245, 125, 0);
    background: linear-gradient(90deg, rgba(245, 125, 0, 1) 0%, rgba(254, 194, 1, 1) 100%);
}

.containerHome__secaoInicialHome {
    display: flex;
    width: 100vw;
    height: 100%;
    align-items: center;
    padding: 56px;
    gap: 24px;
}

.secaoInicialHome__informacoesHome {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.tituloHome {
    color: #E7E7E7;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.descricaoHome {
    color: #C9C9C9;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.textoGrifadoHome {
    background: linear-gradient(90deg, #F90 29.07%, #FEC201 54.07%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.botaoContatoHome {
    border-radius: 10px;
    border: 2px solid #F57D00;
    background: rgba(217, 217, 217, 0.00);
    padding: 8px;
    cursor: pointer;
    transition: all 200ms;
}

.botaoContatoHome:hover {
    background: linear-gradient(90deg, #F58000 0%, #FEC201 100%);
    box-shadow: 0px 0px 4px 2px rgba(245, 130, 0, 0.45);
}

.botaoContatoHome:hover .textoBotaoContatoHome {
    background: var(--white-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textoBotaoContatoHome {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(90deg, #F58000 0%, #FEC201 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 100ms;
}

.secaoInicialHome__imagensHome {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
    padding-top: 64px;
    gap: 12px;
}

.backgroundeImageHomeUm {
    width: 60%;
    height: 70%;

}

.backgroundeImageHomeDois {
    width: 40%;
    height: 32%;

}

.backgroundeImageHomeTres {
    width: 40%;
    height: 45%;

}

.imagemHomeUm {
    width: 100%;
    height: 100%;
}

.imagemHomeDois {
    width: 100%;
    height: 100%;
}

.imagemHomeTres {
    width: 100%;
    height: 100%;
}

.barraNavegacaoMenu {
    position: fixed;
    z-index: 10;
    background: linear-gradient(347deg, #1A1A1A 6.84%, #323232 97.86%);
    height: 100vh;
    width: 25vw;
    left: 75%;
    display: flex;
    flex-direction: column;
    padding: 48px;
    transition: all 1000ms;
}

.barraNavegacaoMenu__opcaoFecharAbrir {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.textoGrifadoMenu {
    background: linear-gradient(90deg, #F90 29.07%, #FEC201 54.07%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
   
}

.barraNavegacaoMenu__opcoesDeNavegacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    gap: 32px;
    padding-top: 80px;
}

.iconeFecharbarrar {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 20px;
    background: rgb(245, 125, 0);
    background: linear-gradient(90deg, rgba(245, 125, 0, 1) 0%, rgba(254, 194, 1, 1) 100%);
}

.opcaoHome {
    color: var(--font-dark-three);
    font-size: 1.50rem;
    font-weight: 500;
    letter-spacing: 1.6px;
    cursor: pointer;
    transition: linear 200ms;
}

.opcaoHome:hover {
    border-bottom: var(--white-color) 2px solid;
}