.containerGeral {
    overflow-x: hidden;
}

/* 1º Seção Home */

.containerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 85vh;
    background: rgb(245, 125, 0);
    background: linear-gradient(90deg, rgba(245, 125, 0, 1) 76%, rgba(254, 194, 1, 1) 100%);
}

.containerHome__backgroundHome {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;

}

.containerHome__cabecalhoHome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    z-index: 10;
}

.cabecalhoHome__logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 48px;
}

.logoHome {
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.iconeMenuHome {
    position: absolute;
    left: 92%;
    top: 30%;
    z-index: 10;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    cursor: pointer;
    background-color: #282829;
    border: #F58200 1px solid;
}

.iconeMenu {
    width: 70%;
    height: 70%;
}

.fundoColoridoHome {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 90%;
    background: rgb(25, 25, 25);
    background: linear-gradient(90deg, rgba(25, 25, 25, 1) 0%, rgba(47, 47, 50, 1) 100%);
    display: flex;
    align-items: center;
    padding-left: 10%;
    justify-content: space-between;
}

.informacoesHome {
    display: flex;
    flex-direction: column;
}

.indicadorHome {
    position: absolute;
    top: 80%;
    left: 60%;
}

.decoracaoHomeUm {
    position: absolute;
    top: 0;
    left: 58%;
}

.decoracaoHomeDois {
    position: absolute;
    top: 80%;
    left: 0;
}

/* Texto Grifado */

.textoGrifadoHome {
    position: relative;
    width: 40vw;
    top: 10px;
}

/**/

.textoNormalHomeUm {
    color: white;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    padding-bottom: 5px;
}

.textoNormalHomeDois {
    color: white;
    line-height: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.botoesHome {
    display: flex;
    padding-left: 6%;
    padding-top: 6%;
    gap: 10%;
    align-items: center;
}

.botaoHomePrincipal {
    height: 50px;
    width: 13vw;
    background: rgb(245, 125, 0);
    background: linear-gradient(90deg, rgba(245, 125, 0, 1) 76%, rgba(254, 194, 1, 1) 100%);
    border: inherit;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 700;
    cursor: pointer;
    transition: ease-in-out 200ms;
}

.botaoHomePrincipal:hover,
.botaoHomeSecundario:hover {
    transform: scale(1.10);
}

.botaoHomeSecundario {
    cursor: pointer;
    height: 80%;
    transition: ease-in-out 200ms;
}

.imagensIlustrativaHome {
    width: 68%;
    height: auto;
    position: absolute;
    left: 55%;

}

.redesSociaisHome {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    left: 92%;
    z-index: 9;
    gap: 3%;
    height: 80%;
    width: 5%;
}

.linhaRedesUm {
    width: 1px;
    height: 15%;
    background-color: #282829;
}

.linhaRedesDois {
    width: 1px;
    height: 15%;
    background-color: #282829;
}

.conhecaRedes {
    text-align: center;
}

.rede {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in-out 200ms;
}

.rede:hover {
    color: #FBA601;
    border: 1px solid #FBA601;
    background-color: #1d1d1d;
}

@media(max-width: 400px) {

    .containerHome {
        height: 110vh;
    }

    .fundoColoridoHome {
        height: 110vh;
    }

    .informacoesHome {
        height: 60%;
        top: 40%;
        left: 5%;
        position: relative;
        z-index: 10;
    }

    .textoGrifadoHome {
        width: 60vw;
    }

    .textoNormalHomeUm {
        font-size: 1rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .textoNormalHomeDois {
        font-size: 1rem;
        line-height: normal;
    }

    .botoesHome {
        flex-direction: column;
        padding-left: 6%;
        padding-top: 0%;
        gap: 10%;
        align-items: center;
    }

    .botaoHomePrincipal {
        width: 100%;
    }

    .imagensIlustrativaHome {
        width: 150%;
        position: absolute;
        height: auto;
        left: -25%;
        top: 10%;
        opacity: 100%;
    }

    .iconeMenuHome {
        left: 80%;
    }

    .redesSociaisHome {
        left: 87%;
        font-size: 0.75rem;
    }

    .decoracaoHomeUm {
        display: none;
    }

    .decoracaoHomeDois {
        display: none;
    }

    .containerHome__backgroundHome {
        height: 100%;
    }

    .decoracaoInformacoesUm {
        display: none;
    }

    .decoracaoInformacoesQuatro {
        display: none;
    }

    .linhaUm {
        display: none;
    }

    .indicadorHome {
        display: none;
    }
}

@media(max-width: 500px) {

    .containerHome {
        height: 110vh;
    }

    .fundoColoridoHome {
        height: 110vh;
    }

    .informacoesHome {
        height: 60%;
        top: 40%;
        left: 5%;
        position: relative;
        z-index: 10;
    }

    .textoGrifadoHome {
        width: 60vw;
    }

    .textoNormalHomeUm {
        font-size: 1rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .textoNormalHomeDois {
        font-size: 1rem;
        line-height: normal;
    }

    .botoesHome {
        flex-direction: column;
        padding-left: 6%;
        padding-top: 0%;
        gap: 10%;
        align-items: center;
    }

    .botaoHomePrincipal {
        width: 100%;
    }

    .imagensIlustrativaHome {
        width: 150%;
        position: absolute;
        height: auto;
        left: -25%;
        top: 10%;
        opacity: 100%;
    }

    .iconeMenuHome {
        left: 80%;
    }

    .redesSociaisHome {
        left: 87%;
        font-size: 0.75rem;
    }

    .decoracaoHomeUm {
        display: none;
    }

    .decoracaoHomeDois {
        display: none;
    }

    .containerHome__backgroundHome {
        height: 100%;
    }

    .decoracaoInformacoesUm {
        display: none;
    }

    .decoracaoInformacoesQuatro {
        display: none;
    }

    .linhaUm {
        display: none;
    }

    .indicadorHome {
        display: none;
    }
}

/**/

/* 2ª Seção Informações */

.containerInformacoes {
    height: 240vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
}

.containerInformacoes__conteudoIdeias {
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}

.linhaInformacoesUm {
    width: 50vw;
    height: 1px;
    background-color: #F57D00;
    position: relative;
    top: 10px;
}

.conteudoIdeias {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.homemSegundoParagrafo {
    width: 50%;
    left: -130px;
    position: relative;
}

.textoInformacoesUm {
    font-size: 1.50rem;
    font-family: Montserrat;
    font-weight: 400;
    color: white;
}

.containerInformacoes__conteudoVisita {
    display: flex;
    align-items: center;
    height: 50%;
    gap: 72px;
}

.conteudoVisita {
    width: 40%;
}

.linhaVisitaUm {
    width: 40vw;
    height: 1px;
    background-color: #F57D00;
    position: relative;
    top: 15px;
}

.textoInformacoesVisita {
    font-size: 1.50rem;
    font-family: Montserrat;
    font-weight: 500;
    color: white;
}

.botaoAgendarVisita {
    height: 50px;
    width: 13vw;
    background: rgb(245, 125, 0);
    background: linear-gradient(90deg, rgba(245, 125, 0, 1) 76%, rgba(254, 194, 1, 1) 100%);
    border: inherit;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    left: 30%;
    transition: ease-in-out 200ms;
}

.botaoAgendarVisita:hover {
    transform: scale(1.10);
}

.decoracaoInformacoesUm {
    position: absolute;
    top: 90%;
    left: 94%;
}

.decoracaoInformacoesDois {
    position: absolute;
    top: 190%;
    left: 0;
}

.decoracaoInformacoesTres {
    position: absolute;
    width: 9%;
    top: 220%;
    left: 90%;
}

.decoracaoInformacoesQuatro {
    position: absolute;
    height: 20%;
    top: 315%;
    left: 65%;
}

@media(max-width: 400px) {
    .containerInformacoes__conteudoIdeias {
        width: 100%;
    }

    .conteudoIdeias {
        width: 100%;
        font-size: 1rem;
        position: relative;
        left: 0%;
        text-align: center;
        top: 10%;
    }

    .tituloIdeias {
        width: 110%;
    }

    .homemPrimeiroParagrafo {
        width: 50%;
        top: -10%;
        left: 5%;
        position: relative;
    }

    .textoInformacoesUm {
        font-size: 1rem;
        position: relative;
        z-index: 10;
    }

    .containerInformacoes__conteudoVisita {
        width: 100%;
    }

    .homemSegundoParagrafo {
        width: 60%;
        top: -20%;
        left: 0;
        position: relative;
    }

    .conteudoVisita {
        width: 100%;
        font-size: 1rem;
        position: relative;
        left: -30%;
        text-align: center;
    }

    .tituloVisita {
        width: 110%;
    }

    .textoInformacoesVisita {
        font-size: 1rem;
        position: relative;
        z-index: 10;
    }

    .botaoAgendarVisita {
        width: 100%;
        left: 0;
    }
}

@media(max-width: 500px) {
    .containerInformacoes__conteudoIdeias {
        width: 100%;
    }

    .conteudoIdeias {
        width: 100%;
        font-size: 1rem;
        position: relative;
        left: 0%;
        text-align: center;
        top: 10%;
    }

    .tituloIdeias {
        width: 110%;
    }

    .homemPrimeiroParagrafo {
        width: 50%;
        top: -10%;
        left: 5%;
        position: relative;
    }

    .textoInformacoesUm {
        font-size: 1rem;
        position: relative;
        z-index: 10;
    }

    .containerInformacoes__conteudoVisita {
        width: 100%;
    }

    .homemSegundoParagrafo {
        width: 60%;
        top: -20%;
        left: 0;
        position: relative;
    }

    .conteudoVisita {
        width: 100%;
        font-size: 1rem;
        position: relative;
        left: -30%;
        text-align: center;
    }

    .tituloVisita {
        width: 110%;
    }

    .textoInformacoesVisita {
        font-size: 1rem;
        position: relative;
        z-index: 10;
    }

    .botaoAgendarVisita {
        width: 100%;
        left: 0;
    }
}

/* 3º Seção Catalogo */

.containerCatalogo {
    height: 140vh;
    width: 100vw;
    display: flex;
    position: relative;
}

.imagemFundoCatalogo {
    position: relative;
    left: 18%;
    top: 5%;
    height: 85%;
}

.containerCatalogo__tituloCatalogo {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.tituloCatalogo {
    position: relative;
    top: -20px;
    left: 10px;
}

.containerCatalogo__listaDeProdutos {
    width: 90%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 5%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.listaItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12%;
    width: 100%;
    transition: ease-in-out 1000ms;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.imageActive {
    width: auto;
    height: 50vh;
    position: relative;
}

.imageInactive {
    width: auto;
    height: 30vh;
}

.tituloCategoriaProdutos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130%;
    gap: 5%;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.botaoDireita {
    cursor: pointer;
}

.botaoEsquerda {
    cursor: pointer;
}

.botaoItem {
    height: 5vh;
    width: 10vw;
    background: linear-gradient(90deg, #F58000 0%, #FEC201 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: 1px solid rgb(32, 32, 32);
    margin-top: 25px;
    cursor: pointer;
    transition: ease-in-out 200ms;
}

.botaoItem:hover {
    transform: scale(1.10);
    border-radius: 10px;
    border: #282829 1px solid;
}

@media(max-width: 400px) {

    .imagemFundoCatalogo {
        height: 70%;
        top: 10%;
        left: -40%;
    }

    .containerCatalogo__listaDeProdutos {
        width: 100%;
        left: 0;
    }

    .listaItems {
        width: 100%;
    }

    .botaoEsquerda {
        position: relative;
        z-index: 100;
        left: 60%;
        background-color: #282829;
        border-radius: 10px;
        padding: 4px;
    }

    .botaoDireita {
        position: relative;
        z-index: 100;
        left: -60%;
        background-color: #282829;
        border-radius: 10px;
        padding: 4px;
    }

    .botaoItem {
        width: 150%;
        position: relative;
        left: -20%;
    }
}

@media(max-width: 500px) {

    .imagemFundoCatalogo {
        height: 70%;
        top: 10%;
        left: -40%;
    }

    .containerCatalogo__listaDeProdutos {
        width: 100%;
        left: 0;
    }

    .listaItems {
        width: 100%;
    }

    .botaoEsquerda {
        position: relative;
        z-index: 100;
        left: 75%;
        background-color: #282829;
        border-radius: 10px;
        padding: 4px;
    }

    .botaoDireita {
        position: relative;
        z-index: 100;
        left: -75%;
        background-color: #282829;
        border-radius: 10px;
        padding: 4px;
    }

    .botaoItem {
        width: 150%;
        position: relative;
        left: -20%;
    }
}

/**/

/* 4º Seção Contatos */

.containerContatos {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #FBA601;
}

.containerContatos__conteudoContatos {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.conteudoContatos_conhecaNosMais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
}

.linhaContatosUm {
    width: 20vw;
    height: 1px;
    background-color: #FBA601;
}

.linhaContatosDois {
    width: 20vw;
    height: 1px;
    background-color: #FBA601;
}

.contatosRedes {
    font-size: 1.50rem;
    display: flex;
    gap: 40px;
    align-items: center;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #FBA601;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in-out 200ms;
}

.icone:hover {
    color: #1d1d1d;
    border: 1px solid #FBA601;
    background-color: #FBA601;
}

@media(max-width: 400px) {
    .containerContatos {
        width: 100%;
        text-align: center;
    }

    .containerContatos__conteudoContatos {
        width: 100%;
    }

    .conteudoContatos_conhecaNosMais {
        width: 100%;
    }

    .linhaDois,
    .linhaTres {
        display: none;
    }
}

@media(max-width: 500px) {
    .containerContatos {
        width: 100%;
        text-align: center;
    }

    .containerContatos__conteudoContatos {
        width: 100%;
    }

    .conteudoContatos_conhecaNosMais {
        width: 100%;
    }

    .linhaDois,
    .linhaTres {
        display: none;
    }
}

/* Botao com contraste */

.botaoContatoHome {
    border-radius: 10px;
    border: 2px solid #F57D00;
    background: rgba(217, 217, 217, 0.00);
    padding: 8px;
    cursor: pointer;
    transition: all 200ms;
}

.botaoContatoHome:hover {
    background: linear-gradient(90deg, #F58000 0%, #FEC201 100%);
    box-shadow: 0px 0px 4px 2px rgba(245, 130, 0, 0.45);
}

.botaoContatoHome:hover .textoBotaoContatoHome {
    background: var(--white-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/**/

/**/

.barraNavegacaoMenu {
    position: absolute;
    z-index: 5;
    background: rgba(34, 34, 35, 0.80);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 25vw;
    top: 0;
    left: 85%;
    display: flex;
    flex-direction: column;
    padding: 48px;
    transition: all 1000ms;
    margin: 0 0 0 500px;
}

.barraNavegacaoMenuAberta {
    position: absolute;
    z-index: 5;
    background: rgba(34, 34, 35, 0.80);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 25vw;
    top: 0;
    left: 75%;
    display: flex;
    flex-direction: column;
    padding: 48px;
    transition: all 1000ms;
    margin-left: 0;
}

/**/

.barraNavegacaoMenu__opcaoFecharAbrir {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.textoGrifadoMenu {
    background: linear-gradient(90deg, #F90 29.07%, #FEC201 54.07%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.barraNavegacaoMenu__opcoesDeNavegacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    gap: 32px;
    padding-top: 80px;
}

.iconeFecharbarrar {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 20px;
    background: rgb(245, 125, 0);
    background: linear-gradient(90deg, rgba(245, 125, 0, 1) 0%, rgba(254, 194, 1, 1) 100%);
}

.opcaoHome {
    color: var(--font-dark-three);
    font-size: 1.50rem;
    font-weight: 500;
    letter-spacing: 1.6px;
    cursor: pointer;
    transition: linear 200ms;
}

.opcaoHome:hover {
    border-bottom: #F57D00 2px solid;
}

/* Linhas Divisórias */

.linhaUm {
    width: 99vw;
    position: absolute;
    z-index: 2;
    left: -10px;
    top: 79%;
}

.linhaDois {
    width: 99vw;
    position: absolute;
    z-index: 2;
    left: -10px;
    top: 325%;
}

.linhaTres {
    width: 99vw;
    position: absolute;
    z-index: 2;
    left: -10px;
    top: 445%;
}

/**/